

<div class="card">
    <app-loading></app-loading>
    <div *ngIf="categories && categories.length > 0">
        <div class="row">
            <div class="col-12">
                <h4>Categories</h4>
                <button class="btn btn-category active" (click)="handleCatClick($event)" id="all">All</button>
                <button *ngFor="let category of categories" class="btn btn-category" [id]="category.maskId"(click)="handleCatClick($event)">{{category.name}}</button>
                <hr>
            </div>
            <div class="col-12">
                <h4>Search</h4>
                <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value, $event)">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <input type="text" name="searchTerm" id="searchTerm" class="form-control " (ngModel)="searchTerm" [value]="searchTerm" />
                        </div> 
                        <div class="col-md-4 col-xs-12">
                            <button type="submit" class="btn btn-primary w-100">Search</button>
                        </div>        
                    </div>            
                </form>
            </div>
            <div class="col-12 mt-3" *ngIf="articles && articles.length > 0">
                <button *ngFor="let article of articles" class="btn btn-article">{{article.title}}</button>
            </div>
        </div>
    </div>
</div>
